<p>Login: <input [(ngModel)] = "login"/></p>
<p>Password: <input [(ngModel)] = "password"/></p>
<p>Nom: <input [(ngModel)] = "nom"/></p>
<p>Prénom: <input [(ngModel)] = "prenom"/></p>
<p>Adresse: <input [(ngModel)] = "adresse"/></p>
<p>Code postal: <input [(ngModel)] = "codePostal"/></p>
<p>Ville: <input [(ngModel)] = "ville"/></p>
<p>Email: <input [(ngModel)] = "email"/></p>
<p>Civilité: <input [(ngModel)] = "civilite"/></p>
<p>Téléphone: <input [(ngModel)] = "telephone"/></p>
<p>Pays: <input [(ngModel)] = "pays"/></p>
<br>
<button [disabled]="!isValid" (click)="toggleInfo()">Valider</button>
<br>
<div *ngIf="affiche">
    <p>Récapitulatif:</p>
    <p>Login: {{login}}</p>
    <p>Password: {{password}}</p>
    <p>Nom: {{nom}}</p>
    <p>Prénom: {{prenom}}></p>
    <p>Adresse: {{adresse}}</p>
    <p>Code postal: {{codePostal}}</p>
    <p>Ville: {{ville}}</p>
    <p>Email: {{email}}</p>
    <p>Civilité: {{civilite}}</p>
    <p>Téléphone: {{telephone}}</p>
    <p>Pays: {{pays}}</p>
</div>
